body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("blackjack-layout-1-black.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
    background-color: #171415;

}

h2 {
    color: white;
}

#dealer-cards img {
    height: 140px; 
    width: 110px;
    margin: 1px;
}

#your-cards img {
    height: 140px; 
    width: 110px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10%;
    background-color: darkorange;
    cursor: pointer;
}

#hit:hover {
    background-color: rgba(255, 140, 0, 0.591);
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10%;
    background-color: darkorange;
    cursor: pointer;
}

#stay:hover {
    background-color: rgba(255, 140, 0, 0.591);
}

#hidden {
    height: 140px; 
    width: 110px;
}

.restart-btn {
    border-radius: 10%;
    height: 25px;
    background-color: darkorange;
    cursor: pointer;
    margin-top: 25px;
}

.restart-btn:hover {
    background-color: rgba(255, 140, 0, 0.591);
}

#results {
    color: white;
    font-size: 42px;
}

.head {
    margin-top: 20px;
}

.main {
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 300px;
    justify-content: center;
    
}

.card {
    position: absolute;
}

.result {
    position: absolute;
    right: 200px;
}